/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1c20;
}